<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form action="" method="post">

        <label for="nome">Full Name:</label>
        <input type="text" name="nameForm">

        <br>
        <br>

        <label for="nome">User:</label>
        <input type="text" name="userForm">

        <br>
        <br>

        <label for="nome">Password:</label>
        <input type="text" name="passwordForm">

        <br>
        <br>
        
        <input type="submit" value="Register">
    </form>
</body>
</html>