<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Minha Página{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
</head>
<body>

    <header class="header">

        <a href="{{ url_for('logout') }}" class="btn btn-danger" style="float: right; margin: 10px; text-decoration: none; color: black;">
            logout
        </a>
        
        <a href="{{ url_for('profile') }}" class="btn btn-danger" style="float: right; margin: 10px; text-decoration: none; color: black;">
            my profile
        </a>
        
        <a href="{{ url_for('calculator') }}" class="btn btn-danger" style="float: right; margin: 10px; text-decoration: none; color: black;">
            calculator
        </a>

        <a href="{{ url_for('blog') }}" class="btn btn-danger" style="float: right; margin: 10px; text-decoration: none; color: black;">
            blog
        </a>

        <h1>W. Control</h1>
    

        
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <h3>Created by kaue</h3>
        <p>sobre</p>
        <!-- <p class="btn btn-danger" style="float: right; margin: 25px; color: black;">
            sobre
        </p> -->
    </footer>

    <!--  -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>



</body>
</html>